<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.storeexe.mapper.OrderMapper">
	
 		<!-- 查询结果与收货地址数据实体的映射 --> 
<!-- 	<resultMap type="cn.tedu.storeexe.entity.Cart" id="cartEntityMap"> -->
<!-- 		<id column="cid" property="cid"/> -->
<!-- 		<result column="uid" property="uid"/> -->
<!-- 		<result column="pid" property="pid"/> -->
<!-- 		<result column="num" property="num"/> -->
<!-- 	    <result column="price" property="price"/> -->
<!-- 	  	<result column="created_user" property="createdUser"/> -->
<!-- 	    <result column="created_time" property="createdTime"/> -->
<!-- 	    <result column="modified_user" property="modifiedUser"/> -->
<!-- 	    <result column="modified_time" property="modifiedTime"/> -->
<!-- 	</resultMap> -->
	
	<!-- 1. 插入订单数据 -->
	<!-- Integer insertOrder(Order order); -->
	<insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
		INSERT INTO t_order(
			uid,
			recv_name, recv_phone,
			recv_province, recv_city,
			recv_area, recv_address,	
			total_price, status,
			order_time, pay_time,
			created_user, created_time,
			modified_user, modified_time
		) VALUES(
			#{uid},
			#{recvName}, #{recvPhone},
			#{recvProvince}, #{recvCity},
			#{recvArea}, #{recvAddress},			
			#{totalPrice}, #{status},
			#{orderTime}, #{payTime},				
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)		
	</insert>
	
	<!-- 2. 插入订单商品数据 --> 
	<!-- Integer insertOrderItem(OrderItem orderItem); -->
	<insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_order_item(
			oid,
			pid, title,
			image, price,
			num,
			created_user, created_time,
			modified_user, modified_time
		) VALUES(
			#{oid},
			#{pid}, #{title},
			#{image}, #{price},
			#{num},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	
</mapper>













